################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp2/.vs
/ConsoleApp2/ConsoleApp2/bin/Debug/netcoreapp3.1
/ConsoleApp2/ConsoleApp2/obj
/ConsoleApp2/WebApi1/bin/Debug/netcoreapp3.1
/ConsoleApp2/WebApi1/obj
/ConsoleApp2/WebApi1/Properties
/PythonApplication1
/PythonApplication4
/PythonApplication5
